@{
    Layout = null;
    Yitao.Core.ShipAddressInfo shipAddressInfo = ViewData["MyAddress"] as Yitao.Core.ShipAddressInfo;
    Yitao.Core.ProductInfo productInfo = ViewData["ProductInfo"] as Yitao.Core.ProductInfo; Yitao.Core.ProductSkuInfo productSkuInfo = ViewData["ProductSkuInfo"] as Yitao.Core.ProductSkuInfo; 
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>提交订单-@{@WorkContext.SellerInfo.SellerName}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Css/mobile/goods/ydui.css" />
    <script src="/Js/Mobile/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/Css/mobile/goods/jiesuan.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/icon/icon.css"/>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=nT6ySqHzG1p7QMRpZ1k9rMAT0weeSERr"></script>
<script src="/Js/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <style>
    .jifen::after{content:"注：@(WorkContext.SellerInfo.ScoreName)无法抵邮费";position:absolute;font-size:12px;color:#999;margin-left:.4rem}
	.Coupon_con2 li:after{content:""}
	.Coupon_ul1 label.cell-right{padding:0}
	.youhuiOK{position:fixed;bottom:0;width:100%;text-align:center;background:#fff;padding:10px;border-top:1px solid #f2f2f2}
	.Coupon_con{margin-bottom:50px}
	#amount_formated:before,.freight_title:before,.order_total_ul .subtotal em:before{content:""}
	#goods_tags1:before{content:"-"}
	#jifenkoukuan:before{content:"-"}
	#coupon-price:before{content:"-"}
	#goods_tags0:before{content:"+"}
	.youhuiOK{position:fixed;bottom:0;width:100%;text-align:center;background:#fff;padding:0;border-top:1px solid #f2f2f2;height:46px;line-height:46px}
		.youhuiOK .OKbTN{display:inline-block;width:50%;background:#F13030;color:#FFF;line-height:46px;border-radius:0}
		.youhuiOK div{float:left;width:50%!important}
		.hide{display:none}
		.total-text .iconfont{color:red;font-size:20px;margin-right:10px;font-size:16px}
		.total-text .total.huiyuan{float:none}
		#l-map{width:1px;height:1px}
		#allmap{width:1px;height:1px}
		.searchResultPanel{z-index:9999;position:absolute}
		#tangram-suggestion--TANGRAM__1m-main{position:absolute;z-index:9999}
		.tangram-suggestion-main{position:absolute;z-index:9999}
		.no-addr{line-height:1.4rem;height:1.5rem;display:block;font-size:.34rem;color:#323232;display:none;cursor:pointer;text-align:center}
		.no-addr:before{content:"";display:inline-block;width:.6rem;height:.6rem;background-repeat:no-repeat;background-position:0 -1.65rem;background-size:4rem auto;vertical-align:middle}
		.has-addr{display:none}
		
body{width: 7.5rem;} 		   
		#app-addr .back{position:absolute;top:0;left:0;display:inline-block;padding:0 .6rem;line-height:3rem;color:#323232}
#app-addr header{position:fixed;z-index:11;top:0;left:0;right:0;min-width:320px;max-width:640px;margin:0 auto;height:3rem;box-shadow:1px 2px 3px #E1E1E1;background:#FFF}
#app-addr header h3{font-weight:inherit;text-align:center;line-height:3rem;font-size:1rem}
#app-addr .tentent{padding-top:2.6rem}
#app-addr .list_con,.list_item{display:inline-block;width:100%;position:relative}
#app-addr .list_item{background:#FFF;margin-top:.6rem;padding:.6rem;box-sizing: content-box;width: 6.94rem;}
#app-addr .list_head{line-height:2.6rem}
#app-addr .list_head .Myhome{white-space:nowrap;font-size:1rem;color:#323232;position:relative}
#app-addr .name{padding-right:.6rem}
#app-addr .phone{position:relative;padding-left:.6rem}
#app-addr .list_body p{font-size:.9rem;color:#666}
#app-addr .Isdefault{display:inline-block;float:left}
#app-addr .weui_cell_ft{display:inline-block;font-size:.84rem}
#app-addr .weui_switch{height:32px;position:relative;top:5px}
#app-addr .editsa{display:inline-block;float:right;padding:.4rem;color:#323232}
#app-addr .weui_switch:before{height:30px!important}
#app-addr .weui_switch:after{height:30px!important}
#app-addr .Iselit{margin-right:.6rem}
#app-addr .checked_img{width:16px;position:relative;top:4px;left:5px}
#app-addr .Isdefault{font-size:.84rem;color:#666;padding:.6rem}
#app-addr .list_down{display:inline-block;width:100%}
#app-addr #addRess{position:fixed;z-index:33;bottom:15%;background:#F13030;color:#FFF;font-size:1rem;text-align:center;height:2.2rem;line-height:2.2rem;border-radius:4px;width:92%;left:0;right:0;margin:auto}
#app-addr #addRess:active{background:#F17F7F}
#app-addr #select_add{position:fixed;z-index:200;top:0;left:0;right:0;bottom:0;width:100%;height:100%;overflow:hidden;background:#FFF}
#app-addr #select_edt{position:fixed;z-index:200;top:0;left:0;right:0;bottom:0;width:100%;height:100%;overflow:hidden;background:#FFF}
#app-addr .select_add_ab{position:absolute;width:100%;height:100%;overflow:hidden}
#app-addr .select_add_re{display:inline-block;width:100%;height:100%;overflow:scroll}
#app-addr .m-navbar{height:3rem;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background-color:rgba(255,255,255,.98)}
#app-addr .navbar-item:first-child{width:3rem;min-width:3rem;position:absolute;z-index:20;color:#5C5C5C;left:0;top:0}
#app-addr .navbar-item:first-child{-webkit-box-ordinal-group:2;-webkit-order:1;-ms-flex-order:1;order:1;margin-right:-25%}
#app-addr .navbar-item{height:3rem;min-width:25%;-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;padding:0 .2rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:.94rem;white-space:nowrap;overflow:hidden;color:#5C5C5C}
#app-addr .icon{display:inline-block;width:.5rem;height:.5rem;background-repeat:no-repeat;background-position:0 0;background-size:3.5rem auto;vertical-align:middle}
#app-addr .icon.back{background-position:-2.4rem -.48rem;width:.4rem}
#app-addr .navbar-center{-webkit-box-ordinal-group:3;-webkit-order:2;-ms-flex-order:2;order:2;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:3rem;width:50%;margin-left:25%}
#app-addr .navbar-center .navbar-title{text-align:center;width:100%;white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;font-size:1rem;color:#323232}
#app-addr .m-navbar:after{content:'';position:absolute;z-index:2;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #B2B2B2;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}
#app-addr .m-cell{background:#fff;margin-bottom:0;border-bottom:0;position:relative}
#app-addr .cell-item{background:#fff;min-height:3rem;padding:0 .6rem}
#app-addr .cell-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:inline-block;position:relative;padding-left:.6rem;overflow:hidden;width:100%;margin-top:-6px}
#app-addr .cell-left{color:#333;font-size:.94rem;white-space:nowrap;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
#app-addr .cell-left{font-size:1rem;color:#323232;width:25%;display:inline-block;line-height:3rem;text-align:left;float:left;position:relative}
#app-addr .cell-right{color:#525252;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}
#app-addr .cell-right{padding-right:.6rem}
#app-addr .cell-right{min-height:3rem}
#app-addr .select_add_re .cell-right{display:inline-block;text-align:left;position:relative;font-size:1rem;float:left;width:75%}
#app-addr .select_add_re .cell-right{text-align:right}
#app-addr .cell_input,.selcet_chioce{display:block;width:100%;height:2rem;line-height:2rem;position:absolute;top:50%;left:0;border:0;color:#323232;font-size:.94rem;text-indent:5px;margin-top:-.9rem}
#app-addr .cell-item:not(:last-child):after{margin-left:2rem;content:'';position:absolute;z-index:0;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #D9D9D9;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}
#app-addr textarea{outline:0;border-radius:0;-webkit-appearance:none;-moz-appearance:none;overflow:auto;resize:none;font:100% tahoma,\5b8b\4f53,arial}
#app-addr .cell_textarea{line-height:3rem;color:#323232;width:75%;font-size:1rem;border-radius:3px;display:inline-block;float:left;border:0;position:absolute;right:0;text-align:left;text-indent:.6rem}
#app-addr .searchResultPanel{z-index:9999;position:absolute}
#app-addr .cell-item:not(:last-child):after{margin-left:.6rem;content:'';position:absolute;z-index:0;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #D9D9D9;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%;z-index:555}
#app-addr .moren{text-align:right;color:#888;position:absolute;right:2rem;top:4px}
#app-addr .weui_switch:after,.weui_switch:before{content:" ";position:absolute;top:0;left:0;height:28px;border-radius:15px;-webkit-transition:-webkit-transform .3s}
#app-addr .weui_switch:after,.weui_switch:before{content:" ";position:absolute;top:0;left:0;height:28px;border-radius:15px;-webkit-transition:-webkit-transform .3s}
#app-addr .addMap,.hideBtn{display:block;border:0;border-radius:4px;line-height:2.4rem;color:#fff;font-size:1rem;margin:0 auto;position:fixed;bottom:1rem;left:0;right:0;width:96%;background:#D62B17;text-align:center;z-index:444}
#app-addr #add_back i{line-height:3rem;padding:0 .6rem}
#app-addr .cell-item:first-child{margin-top:0}
#app-addr .cell-left:after{content:":";position:absolute;right:0;z-index:5}
#app-addr .total-text{line-height:3rem}
#app-addr #select_add{display:none}
#app-addr .m-cityselect.brouce-in{-webkit-transform:translate(0,0);transform:translate(0,0)}
#app-addr .m-cityselect{border-top:1px solid #e1e1e1}
#app-addr .m-cityselect{position:fixed;bottom:0;left:0;width:100%;height:75%;z-index:1000;background-color:#fff;-webkit-transform:translate(0,100%);transform:translate(0,100%);-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
#app-addr .cityselect-header{position:absolute;top:0;left:0;width:100%;z-index:1}
#app-addr .cityselect-title{width:100%;font-size:.94rem;text-align:center;height:45px;line-height:45px;position:relative}
#app-addr .cityselect-title:after{content:'';position:absolute;z-index:0;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #B2B2B2;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}
#app-addr .cityselect-nav{width:100%;padding-left:.2rem;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#app-addr .cityselect-nav>a{font-size:.86rem;color:#222;display:block;height:40px;line-height:46px;padding:0 .6rem;position:relative;margin-right:.6rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:40%}
#app-addr .cityselect-nav>a.crt{color:#F23030}
#app-addr .cityselect-nav>a.crt:after{content:'';width:100%;height:2px;background-color:#F23030;position:absolute;bottom:0;left:0;z-index:2}
#app-addr .cityselect-header:after{content:'';position:absolute;z-index:0;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #D9D9D9;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}
#app-addr .cityselect-content{height:100%;padding-top:85px;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
#app-addr .cityselect-content.cityselect-move-animate{-webkit-transition:-webkit-transform .3s;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
#app-addr .cityselect-content.cityselect-prev{-webkit-transform:translate(0,0);transform:translate(0,0)}
#app-addr .cityselect-content>.cityselect-item{display:block;height:inherit;width:50%;-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;overflow-y:auto;-webkit-overflow-scrolling:touch;background-color:#FFF}
#app-addr .cityselect-item-box{width:100%;height:inherit;display:block;padding:0 .4rem}
#app-addr .cityselect-nav>a.crt{color:#F23030}
#app-addr .cityselect-item-box>a{color:#333;font-size:.86rem;height:40px;line-height:18px;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;position:relative;z-index:1}
#app-addr .cityselect-item-box>a:before{content:'';position:absolute;z-index:0;bottom:0;left:0;width:100%;height:1px;border-bottom:1px solid #D9D9D9;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 100%;transform-origin:0 100%}
#app-addr .cityselect-item-box>a.crt:after{content:"";position:absolute;bottom:0;left:0;width:20%;height:2px;border-bottom:2px solid #f13030}
#app-addr .cityselect-item-box>a.crt{color:#f13030}
#app-addr .cityselect-item-box>a span{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block}
#app-addr .cityselect-content>.cityselect-item:nth-child(2n){background-color:#F5F5F5}
#app-addr .cityselect-content.cityselect-next{-webkit-transform:translate(-50%,0);transform:translate(-50%,0)}
#app-addr .mask-black{background-color:rgba(0,0,0,.4);position:fixed;z-index:500;bottom:0;right:0;left:0;top:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
#app-addr .brouce-out{-webkit-transform:translate(0,100%);transform:translate(0,100%)}
#app-addr .cityselect-end{-webkit-transform:translate(-100%,0);transform:translate(-100%,0)}
#app-addr .weui_mask{z-index:99}
#app-addr .weui_dialog,.weui_toast{z-index:9999}

#app-addr{width:7.5rem;margin:0 auto;height: 100%;position: fixed;top: 0;left: 50%;margin-left: -3.75rem;background: #f2f2f2;z-index: 9999;display: none;}
#app-addr #addRess{position:relative;margin-top:30px;bottom:0}
#app-addr #l-map{width:1px;height:1px}
#app-addr #allmap{width:1px;height:1px}
#app-addr .searchResultPanel{z-index:9999;position:absolute}
#app-addr #tangram-suggestion--TANGRAM__1m-main{position:absolute;z-index:9999}
#app-addr .tangram-suggestion-main{position:absolute;z-index:9999}
#app-addr #select_add{display:block}
#app-addr .name{padding-right:.28rem}
#app-addr .phone{position:relative;padding-left:.28rem}
#app-addr header h3{font-weight:inherit;text-align:center;line-height:.9rem;font-size:.28rem}
#app-addr .addr-box ul li{font-size:.28rem}
#app-addr .list_down{display:block}
#app-addr .show-addr li{font-size:.28rem}
#app-addr .addr-shade .title{font-size:.28rem}
#app-addr .list_head{line-height:.9rem}
#app-addr .editsa{display:inline-block;float:right;padding:0;color:#323232}
#app-addr .back{position:absolute;top:0;left:0;display:inline-block;padding:0 .28rem;line-height:.9rem;color:#323232}
#app-addr .list_item{background:#FFF;margin-top:.18rem;padding:.28rem .28rem 0 .28rem}
#app-addr .tentent{padding-top:.9rem}
#app-addr .navbar-center .navbar-title{text-align:center;width:100%;white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;font-size:.28rem;color:#323232}
#app-addr .m-navbar{height:.9rem;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background-color:rgba(255,255,255,.98)}
#app-addr .navbar-item:first-child{width:3rem;min-width:3rem;position:absolute;z-index:20;color:#5C5C5C;left:0;top:0}
#app-addr .navbar-center{height:.9rem;width:50%;margin-left:25%}
#app-addr .item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;position:relative;padding-left:.28rem;overflow:hidden;width:100%;margin-top:-6px}
#app-addr .left{font-size:.28rem;color:#323232;width:25%;display:inline-block;line-height:.9rem;text-align:left;float:left;position:relative}
#app-addr .select_add_re .right{font-size:.28rem}
#app-addr #add_back i{line-height:.9rem;padding:0 .28rem}
#app-addr .item{background:#fff;min-height:1.2rem;padding:0 .28rem}
#app-addr .total-text{line-height:.9rem;font-size:.28rem}
#app-addr .navbar-item:first-child{width:3rem;min-width:3rem;min-height:.9rem;position:absolute;z-index:20;color:#5C5C5C;left:0;top:0}
#app-addr .navbar-item{height:.9rem}
#app-addr .addMap,.hideBtn{display:block;border:0;border-radius:4px;line-height:.8rem;color:#fff;font-size:.28rem;margin:0 auto;position:fixed;bottom:.28rem;left:0;right:0;width:96%;background:#D62B17;text-align:center;z-index:444}
#app-addr .right{min-height:.9rem;padding-right:.28rem}
#app-addr .item:not(:last-child):after{margin-left:.28rem}
#app-addr .selcet_chioce,.weui_input{height:.6rem;line-height:.6rem;font-size:.28rem;top:90%}
#app-addr .moren{text-align:right;color:#888;position:absolute;right:1rem;top:-16px}
#app-addr .item:not(:last-child):after{bottom:.2rem}
#app-addr .weui_toast{width:3rem;min-height:3rem;left:31%;top:35%;margin-left:0}
#app-addr header{position:fixed;z-index:11;top:0;left:0;right:0;min-width:320px;width: 7.5rem; margin:0 auto;height:.9rem;line-height:.9rem;box-shadow:1px 2px 3px #E1E1E1;background:#FFF}
#app-addr .list_head .Myhome{white-space:nowrap;font-size:.28rem;color:#323232;position:relative}
#app-addr .list_body p{font-size:.28rem;color:#666}
#app-addr .Iselit{margin-right:.1rem;font-size:.28rem}
#app-addr .Isdefault{font-size:.28rem;color:#666;padding:.2rem 0}
#app-addr #addRess{z-index:33;bottom:15%;background:#F13030;color:#FFF;font-size:.28rem;text-align:center;height:1rem;line-height:1rem;border-radius:4px;width:92%;left:0;right:0;margin:auto}
#app-addr .weui_toast_content{font-size:.28rem}
#app-addr body{overflow-x: hidden;width: 7.5rem;overflow-x: hidden;margin: 0 auto;font-size: 0.24rem;}
#app-addr .fl{float:left}
#app-addr .fr{float:right}
#app-addr .inputbox{width: 7.1rem;height: 0.7rem;line-height: 0.7rem;padding: 0 0.2rem;font-size: 0.28rem;margin: 0.2rem auto;}
#app-addr .weui-input{height: 0.7rem;line-height: 0.7rem;border: 0;outline: 0;width: 4.6rem;}
#app-addr #edit{font-size: 0.28rem;width: 7.5rem;overflow-x: hidden;}
/*.shade-box{position: fixed;z-index: 222;bottom: -100%;left: 50%;background: rgba(0,0,0,0.5);width: 7.5rem;height: 100%;overflow: hidden;margin-left: -3.75rem;z-index:111111111}*/
#app-addr .shade-box{position: fixed;display: none; top: 0;left: 50%;background: rgba(0,0,0,0.5);width: 7.5rem;height: 100%;overflow: hidden;margin-left: -3.75rem;z-index:111111111}
#app-addr .addr-shade{position: absolute;z-index: 10;bottom: 0;left: 0;background: #fff;width: 8rem;height: 7.44rem;z-index:111111112}
#app-addr .addr-box{width: 15rem;}
#app-addr .addr-box .province{width: 3.75rem;height: 6rem;overflow-y: auto;position: relative;}
#app-addr .addr-box .province:after{position: absolute;right: 0;width: 1px;top: 0;background: #f2f2f2;content: "";}
#app-addr .addr-box .city{width: 3.75rem;height: 6rem;overflow-y: auto;}
#app-addr .addr-box .county{width: 3.75rem;height: 6rem;overflow-y: auto;}
#app-addr .addr-box .town{width: 3.75rem;height: 6rem;overflow-y: auto;}
#app-addr .addr-box ul li{padding: 0 0.2rem;/*line-height: 0.6rem;*/height: 0.6rem;}
#app-addr .curProvince{color: #f00;}
li{list-style: none;}
#app-addr .curCity{color: #f00;}
#app-addr .curCounty{color: #f00;}
#app-addr .curTown{color: #f00;}
#app-addr .show-addr{height: 0.7rem;line-height: 0.7rem;padding: 0 0.2rem;}
#app-addr .show-addr{border-bottom: 1px solid #f2f2f2;}
#app-addr .show-addr li{line-height: 0.7rem;float: left;text-align: left;padding: 0 0.2rem;}
#app-addr .addr-shade .title{text-align: center;height: 0.7rem;line-height: 0.7rem;border-bottom: 1px solid #f2f2f2;}
#app-addr .cur-li{position: relative;color: #f00;}
#app-addr .cur-li:after{position: absolute;bottom: 0;content: "";left: 0;height: 2px; background: #fd4c60;width: 100%;}
#app-addr .weui-picker-modal .picker-items-col:eq(2){display: none !important;}
#app-addr .weui_dialog_hd{padding: 0;}
#app-addr .addr-box ul{padding-bottom: 1rem;}
#app-addr .icon{background-image:none}
#app-addr #add-addRess{background: #ff4800;height: 0.9rem;line-height: 0.9rem;color: #fff;border-radius: 5px;width: 7.1rem;margin: 0 auto;text-align: center;font-size: 0.32rem;margin-top: 0.4rem;}
.payment-bar{width: 7.5rem;}
.share-box{width: 0.6rem;position: absolute;right: 0;bottom: 8px;width: 0.6rem;text-align: center;}
.share-box .icon-box{height: 17px;}
.share-box .share-txt{height: 19px;}
.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em; height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}
.shade-piker{font-size: 0.24rem;background: #fff;width: 7.5rem;height: 8.6rem;position: fixed;bottom: 0;left: 50%;margin-left: -3.75rem;z-index: 101;display: none;}
.shade-piker .title{height: 0.7rem;line-height: 0.7rem;text-align: center;background: #eee;}
.shade-piker .confirm-piker{height: 0.7rem;line-height: 0.7rem;text-align: center;background: #ff4800;color: #fff;}
.piker-time-box{font-size: 0.24rem;text-align: center;background: #fff;height: 7.2rem;}
li{list-style: none;}
.piker-time-box li{height: 0.8rem;line-height: 0.8rem;}
.piker-day li{position: relative;}
.piker-day li:after{position: absolute;content: "";bottom: 0;left: 0;width: 100%;height: 1px;background: #f2f2f2;}
.piker-day{position: relative;}
.piker-day:after{position: absolute;content: "";top: 0;right: 0;width: 1px;height: 100%;background: #f2f2f2;}
.piker-time .time-li{width: 50%;}
.time-item{padding: 5px 8px;background: #f2f2f2;}
.shade-piker .cur{background: #ff4800;color: #fff;}
.piker-day .cur{background: #fff;color: #ff4800;}	
.weui-flex {
 display: -webkit-box;
display: -webkit-flex;
    display: flex;
}
.weui-flex-item {
     -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.left{float: left;}
.mask-shade{position: fixed;top: 0;width: 7.5rem;height: 100%;left: 50%;margin-left: -3.75rem;background: rgba(0,0,0,0.8);z-index: 99;display: none;}			
    </style>
</head>

<body>
    <form action="" method="post">
        <input type="hidden" id="IsCart" value='0'>
        <input type="hidden" id="Weight" value="">
        <input type="hidden" id="Quantity" value="">
        <input type="hidden" id="ShipDate" value="">
        <input type="hidden" id="FullFreeAmount" value='@ViewData["FullFreeAmount"]'>
        <!-- 头部 -->
        <header class="m-navbar">
            <a href="javascript:;" onclick="goToBack()" class="navbar-item"><i class="icon iconfont">&#xe60e;</i></a>
            <div class="navbar-center"><span class="navbar-title">确认订单</span></div>
        </header>
        <!--end-->
        <!-- tab  -->
        <div id="J_Tab" class="m-tab">
            <ul class="tab-nav">
                <li class="tab-nav-item tab-active">
                    <a href="javascript:;">快递</a>
                </li>
                <li class="tab-nav-item">
                    <a href="javascript:;">自提</a>
                </li>
                <!--li class="tab-nav-item">
                    <a href="javascript:;">配送</a>
                </li-->
            </ul>
            <div class="tab-panel">
                <div class="tab-panel-item tab-active">

                    <!-- 地址信息 -->
                    <div class="map_contnt">
                        <!--  当没有地址的时候 -->
                        <a  id="get-addr" class="no-addr" onclick="openAddr()" data-hasaddr="0" style="display:block">
                        	去选择地址
                        </a>
                        <!--  已有地址  -->
                        <div class="has-addr map_title cell-arrow" onclick="openAddr()" id="get-addr">
                            <p class="map_user">
                                <span id="map_name">姓名</span>
                                <span id="map_phon">电话</span>
                            </p>
                            <p class="map_goods">
                                <span id="map_map">
                                	地址
                                </span>
                            </p>
                        </div>
                    </div>
                    <!--end-->
                    <!--店铺订单-->

                </div>
                <div class="tab-panel-item">
                    <!--表单-->
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">取货人：</div>
                            <div class="cell-right"><input type="text" id="Consignee1" required="required" pattern="/^[\u4e00-\u9fa5]+$/" value="@WorkContext.UserInfo.UserName" class="cell-input" placeholder="取货人" autocomplete="off"></div>
                        </div>

                        <div class="cell-item">
                            <div class="cell-left">联系电话：</div>
                            <div class="cell-right"><input type="number" id="Mobile1" value="@WorkContext.UserInfo.Mobile" pattern="[0-9]*" class="cell-input" placeholder="请输入手机号" autocomplete="off"></div>
                        </div>
                        <div class="cell-item">
                            <div class="cell-left">提货时间：</div>
                            <div class="cell-right"><input id="pickTime" type="text" class="cell-input" placeholder="选择提货时间" autocomplete="off"></div>
                        </div>

                        <div class="cell-item">
                            <div class="cell-left">自提店点：</div>
                            <div class="cell-right"><input id="J_ShowActionSheet" type="text" class="cell-input" placeholder="请选择自提店点" autocomplete="off"></div>
                        </div>
                    </div>
                    <!--end-->
                </div>
                <div class="tab-panel-item">
                    <!-- 表单 -->
                    <div class="m-cell">
                        <div class="cell-item">
                            <div class="cell-left">收货人：</div>
                            <div class="cell-right"><input type="text" id="Consignee2" value="@WorkContext.UserInfo.UserName" class="cell-input" placeholder="收货人" autocomplete="off"></div>
                        </div>

                        <div class="cell-item">
                            <div class="cell-left">联系电话：</div>
                            <div class="cell-right"><input type="number" id="Mobile2" value="@WorkContext.UserInfo.Mobile" pattern="[0-9]*" class="cell-input" placeholder="请输入手机号" autocomplete="off"></div>
                        </div>

                        <div class="cell-item">
                            <div class="cell-left">收货地址：</div>
                            <div class="cell-right cell-arrow">
                                <input type="text" class="cell-input J_Address2" readonly id="S_Address2" data-Province="" data-City="" data-County="" data-town="" value="" placeholder="请选择收货地址">
                            </div>
                        </div>
                        <div class="cell-item">
                            <div class="cell-left">详细地址：</div>
                            <div class="cell-right">
                                <input type="text" id="Address2" class="cell-input " placeholder="详细地址" autocomplete="off">
                                <div id="searchResultPanel2" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;" class="searchResultPanel"></div>
                            </div>
                        </div>

                    </div>

                    <!--end-->

                </div>

            </div>

        </div>
        <!-- end -->        

        <div class="m-cell" style="padding-bottom: 1rem">
    
            @foreach (Yitao.Core.CartItem info in ViewData["CartItemList"] as List
            <Yitao.Core.CartItem>)
            {
                <article class="m-list list-theme4 goods-list" id="Article">
                    <input type="hidden" class="SkuId" value="@info.SkuId">
                    <input type="hidden" class="ItemId" value="@info.CartId">
                    <input type="hidden" class="SellerId" value="@info.SellerId">
                    
                    <div class="list_items_con">

                        <div class="list-item" data-weight="@info.Weight">
                            <div class="list-img">
                                @if (info.ImgUrl.Length > 0)
                                {
                                    <img src="@(WorkContext.ShopConfig.ImageCDN)/@{@info.ImgUrl}?w=160&h=160&mode=pad"> }
                                else
                                {
                                    <span class="icon icon-54 icon-img"></span>
                                }
                            </div>
                            <div class="list-mes">
                                <h3 class="list-title">@info.ProductName</h3>
                                <p class="list-mes-item">
                                   @info.SkuName 
                                </p>
                                <p class="list-mes-item">
                                   现金比例 <span class='profits'>@info.Profits</span> %
                                </p>
                                <div class="list-mes_right">
                                    <div class="price">¥<span class="list_price"> @(info.StockSalePrice*info.Profits/100) </span>+<span class='profits_score'>@(info.StockSalePrice-info.StockSalePrice*info.Profits/100)</span>积分</div> 
                                    <div class="number">x<span class="list_number"> @info.Quantity </span></div>
                                </div>

                            </div> 
                        </div>

                    </div>
                </article>
            }

            <div class="cell-item Service_price textarea_con">
                <div class="cell-left">商品留言：</div>
                <div class="cell-right">
                    <input name="message[]" class="textarea" maxlength="50" placeholder="在这里给店家留言">
                </div>
            </div>
            <!-- 订单价格 -->

            <ul class="ct-list order_total_ul">
                <li>
                    <div class="subtotal">
                        <div class="sub_con">
                            <span class="total-text">应付金额</span>
                            <em class="total" id="goods_tags">0.00</em>
                        </div>
                        <div class="sub_con">
                            <span class="total-text">应付积分</span>
                            <em class="total" id="goods_score">0.00</em>
                        </div>
                        <div class="sub_con youfei">
                        	<span class="total-text">运费</span>
                        	<em class="total" id="goods_tags0">0.00</em>
                        </div>
                        <div class="sub_con" style="display: none">
                            <span class="total-text">配送费</span>
                            <em class="total" id="peisongfei">0.00</em>
                        </div>   
                        <div class="sub_con" style="display: none">
                            <span class="total-text">合计</span>
                            <em class="total" id="zongjiage">0.00</em>
                        </div>  
                    </div>
                </li>
            </ul>
            <!--<div>返回购物车</div>-->
        </div>
        <!--end-->
        <!-- 提交按钮 -->

        <div class="payment-bar">
            <input type="button" class="settlement" id="settlement"  value="提交订单">
            <div class="paytot">
                <span class="total-text">应付金额：</span>
                <strong class="price_total"><span id="amount_formated"></span></strong>
            </div>
        </div>
        <!--end-->
        

        

        <!--end-->
        <!--选择门店 -->
        <section class="g-scrollview">

            <div class="m-actionsheet" id="J_ActionSheet">
                <div id="J_con">
                    <a href="#" class="actionsheet-item">示例菜单 - Javascript API</a>
                    <a href="#" class="actionsheet-item">示例菜单 - Javascript API</a>
                    <a href="#" class="actionsheet-item">示例菜单 - Javascript API</a>
                    <a href="#" class="actionsheet-item">示例菜单 - Javascript API</a>
                    <a href="javascript:;" class="actionsheet-action" id="J_Cancel">取消</a>
                </div>
            </div>

        </section>

        <!--'end'-->
        
    </form>
    <div id="l-map"></div>
    <div id="allmap"></div>
	
	
	
	<div id="app-addr" style='display:none'>
	    <header>
			<i class=" back icon iconfont" onclick="addrToBack()">&#xe60e;</i>
			<h3>地址管理</h3>
		</header>
		<!-- 地址列表 -->
		<div class="adr-addrlist">
			<div class="tentent">
				<ul class="list_con">
				    <li class="list_item" v-for='(item,index) in addressList' :key='index'>
				    	<div class="list_head" v-on:click="selectaddr(item)">
				    		<p class="Myhome">
				    			<span class="name">{{item.Consignee}}</span>
				    			<span class="phone">{{item.Mobile}}</span>
				    		</p>
				    	</div>
				    	<div class="list_body" v-on:click="selectaddr(item)">
				    		<p>{{item.Address}}</p>
				    	</div>
				    	<div class="list_down">
				    		<span class="Isdefault"  v-on:click='chosedefault(item)'>
				    			默认地址 <span class='icon iconfont' v-if='item.IsDefault==0' >&#xe648;</span>
				    			       <span class='icon iconfont' v-if='item.IsDefault==1' >&#xe61b;</span>
				    		</span>
				    		<div class="editsa">
				    			<span class="Iselit" v-on:click='editaddRess(item)'>
				    				<i class="icon icon-116" ></i>编辑
				    			</span>
				    			<span class="IsRemove"  v-on:click='deleteitem(item.AddressId)'>
					    			<span class="Iselit">
					    				<i class="icon icon-26"></i>删除
					    			</span>
				    			</span>
				    		</div>
				    	</div>
				    	
				    </li>
				</ul>
	
			</div>
			<div id="add-addRess" v-on:click='addRess(0)'>
				添加地址
			</div>
		</div>
		<!--//  添加地址表单-->
		<div class="" id="select_add" v-show='viewShow'>
			<div class="select_add_ab">
				<div class="select_add_re">

					<div class="m-navbar"   v-on:click='addRess(1)'>
						<span class="navbar-item select_back" id="add_back"><i class="iconfont">&#xe60e;</i></span>
						<div class="navbar-center">
							<span class="navbar-title">地址添加</span>
						</div>
					</div>
					<div class="formbox">
						<div class="inputbox">
							<div class="fl">收货人姓名</div>
							<div class="fr">
								<input type="text" placeholder="收货人姓名" name="" value="" class="weui-input" id="Consignee_Name" v-model='Consignee'>
							</div>
						</div>
						<div class="inputbox">
							<div class="fl">联系方式</div>
							<div class="fr">
								<input type="tel" placeholder="联系方式" name="" maxlength="11" value="" class="weui-input" id="Consignee_Phone" v-model='Mobile'>
							</div>
						</div>
						<!--  选择地址  dom 样式之后再做修改 -->
						<div class="inputbox">
							<div class="fl">选择省市</div>
							<div class="fr">
								<input name="" class="weui-input" type="text"  readonly="readonly" id="selectAddr" v-on:click="showAddr()" placeholder="请选择省市区镇" v-model="Addr">
				                <input type="hidden" name="Province" id="Province" v-model="curProvince" />
				                <input type="hidden" name="City" id="City" v-model="curCity" />
				                <input type="hidden" name="County" id="County" v-model="curCounty" />
				                <input type="hidden" name="Town" id="Town" v-model="curTown" />
							</div>
						</div>
						
						<div class="inputbox">
							<div class="fl">详细地址</div>
							<div class="fr">
								<input type="text" class="weui-input" name="" id="Consignee_Map" value="" placeholder="详细地址" v-model='addressdetail'>
								<div id="searchResultPanel" style="border1px solid #C0C0C0;width：150px;height:auto; display:none;" class="searchResultPanel"></div>
							</div>
						</div>
						<div class="inputbox">
							<div class="fl"><span class="total-text">设置默认地址</span></div>
							<div class="fr">
								<input class="weui_switch" type="checkbox" id="morenMap"  v-model='IsDefault'>
							</div>
						</div>
						<div class="hideBtn" v-on:click='saveForm(2)'>保存</div>
					</div>
				</div>

			</div>

		</div>
		<!--编辑地址-->
		<div class="" id="select_edt" v-show='editShow'>
			<div class="select_add_ab">
				<div class="select_add_re">

					<div class="m-navbar"   v-on:click='editaddRess()'>
						<span class="navbar-item select_back" id="add_back"><i class="iconfont">&#xe60e;</i></span>
						<div class="navbar-center">
							<span class="navbar-title">地址编辑</span>
						</div>
					</div>
					<div class="formbox">
						<div class="inputbox">
							<div class="fl">收货人姓名</div>
							<div class="fr">
								<input type="text" placeholder="收货人姓名" name="" value="" class="weui-input" id="Consignee_Name" v-model='Consignee'>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="inputbox">
							<div class="fl">联系方式</div>
							<div class="fr">
								<input type="tel" placeholder="联系方式" maxlength="11" name="" value="" class="weui-input" id="Consignee_Phone" v-model='Mobile'>
							</div>
							<div class="clearfix"></div>
						</div>
						<!--  选择地址  dom 样式之后再做修改 -->
						<div class="inputbox">
							<div class="fl">选择省市</div>
							<div class="fr">
								<input name="" class="weui-input" type="text"  readonly="readonly" id="selectAddr" v-on:click="showAddr()" placeholder="请选择省市区镇" v-model="Addr">
				                <input type="hidden" name="Province" id="Province" v-model="curProvince" />
				                <input type="hidden" name="City" id="City" v-model="curCity" />
				                <input type="hidden" name="County" id="County" v-model="curCounty" />
				                <input type="hidden" name="Town" id="Town" v-model="curTown" />
							</div>
							<div class="clearfix"></div>
						</div>
						
						<div class="inputbox">
							<div class="fl">详细地址</div>
							<div class="fr">
								<input type="text" class="weui-input" name="" id="Consignee_Map" value="" placeholder="详细地址" v-model='addressdetail'>
								<div id="searchResultPanel" style="border：1px solid #C0C0C0;width：150px;height:auto; display:none;" class="searchResultPanel"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="inputbox">
							<div class="fl"><span class="total-text">设置默认地址</span></div>
							<div class="fr">
								<input class="weui_switch" type="checkbox" id="morenMap"  v-model='IsDefault'>
							</div>
						</div>
						<div class="hideBtn" v-on:click='saveForm(1)'>保存</div>
					</div>
				</div>

			</div>

		</div>
		<!--end-->
		<!--四联动-->
		<div class="shade-box">
		    <div class="addr-shade">
		    	<div class="title">
		    		所在地区
		    	</div>
		    	<div class="show-addr">
		    		<ul>
		    			<li class="prov-li" 
		    				:class="{'cur-li':curIndex==0}"
		    				v-on:click="getProvinceTab(initProvince,curProvinceName)"
		    				>{{curProvinceName}}</li>
		    			<li class="city-li" 
		    				:class="{'cur-li':curIndex==1}"
		    				v-on:click="getCityTab(initCity,curCityName)"
		    				>{{curCityName}}</li>
		    			<li class="county-li" 
		    				:class="{'cur-li':curIndex==2}"
		    				v-on:click="getCountyTab(initCounty,curCountyName)"
		    				>{{curCountyName}}</li>
		    			<li class="town-li" 
		    				:class="{'cur-li':curIndex==3}"
		    				v-on:click="getTownTab(initTown,curTownName)"
		    				>{{curTownName}}</li>
		    		</ul>
		    	</div>
				<div class="addr-box">
					<div class="province left">
						<ul>
							<li v-for="(item, index) of Province" 
								:key="item.regionid" 
								v-on:click="getCity(item.regionid,item.regionname)"
								:class="{'curProvince':curProvince==item.regionid}"
								:data-id="item.regionid"
								>{{item.regionname}}</li>
						</ul>
					</div>
					<div class="city left">
						<ul v-if="City.length>0">
							<li v-for="(item, index) of City" 
								:key="item.regionid" 
								v-on:click="getCounty(item.regionid,item.regionname)"
								:class="{'curCity':curCity==item.regionid}"
								:data-id="item.regionid"
								>{{item.regionname}}</li>
						</ul>
					</div>
					<div class="county left">
						<ul v-if="County.length>0">
							<li v-for="(item, index) of County" 
								:key="item.regionid" 
								v-on:click="getTown(item.regionid,item.regionname)"
								:class="{'curCounty':curCounty==item.regionid}"
								:data-id="item.regionid"
								>{{item.regionname}}</li>
						</ul>
					</div>
					<div class="town left">
						<ul v-if="Town.length>0">
							<li v-for="(item, index) of Town" 
								:key="item.regionid" 
								v-on:click="selTown(item.regionid,item.regionname)"
								:class="{'curTown':curTown==item.regionid}"
								:data-id="item.regionid"
								>{{item.regionname}}</li>
						</ul>
					</div>
				</div>
		    	
		    </div>
	    </div>
	</div>
	
	<div class="mask-shade"></div>
	<div class="shade-piker"  id="piker-time-vue">
		<div class="title">选择自提时间</div>
		<div class="piker-time-box">
			<div class="weui-flex">
				<div class="weui-flex-item piker-day">
					<ul>
						<li 
							v-for="(item, index) of pikerDay" 
							:key="index" 
							v-on:click="clickPikerDay(item,index)" 
							v-bind:class="{'cur':dayIndex==index}">{{item}}</li>
					</ul>
				</div>
				<div class="weui-flex-item piker-time">
					<ul>
						<li class="left time-li" :key="index" v-for="(item, index) of pikerTime" v-if="(index>curIndex && index>0)" v-on:click="clickPikerTime(item,index)">
							<span class="time-item" v-bind:class="{'cur':timeIndex==index}">{{item}}</span>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="confirm-piker" v-on:click="confirmPiker()">确定</div>
	</div>
	
	
	
	
	
    <script src="/Js/mobile/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Js/mobile/ydui.city.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Js/mobile/ydui.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Js/mobile/pickTime.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jquery.form.min.js"></script>
    <script src="/Js/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    
    <script type="text/javascript">
		/*js模板引擎*/
		var tpl = function (a, d) {
		    var c = function (l) {
		        var j, h = [],
		            g = [];
		        for (j in l) {
		            h.push(j);
		            g.push(l[j])
		        }
		        return (new Function(h, c.$)).apply(l, g)
		    };
		    if (!c.$) {
		        var f = a.split("<%");
		        c.$ = "var $=''";
		        for (var b = 0; b < f.length; b++) {
		            var e = f[b].split("%>");
		            if (b != 0) {
		                c.$ += "=" == e[0].charAt(0) ? "+(" + e[0].substr(1) + ")" : ";" + e[0].replace(/\r\n/g, "") + "$=$"
		            }
		            c.$ += "+'" + e[e.length - 1].replace(/\'/g, "\\'").replace(/\r\n/g, "\\n").replace(/\n/g, "\\n").replace(/\r/g, "\\n") + "'"
		        }
		        c.$ += ";return $;"
		    }
		    return d ? c(d) : c
		};
	</script>
    <script type="text/javascript">
    var user_id = "@WorkContext.Uid";	
    var IsApp = "@WorkContext.IsApp";
    var FullFreeAmount = $("#FullFreeAmount").val();//满多少免运费
	function goToBack() {
		var _this = this;
		if(IsApp==1){
			if(navigator.userAgent.indexOf("iPhone")>0){
				gobacklastpage();
			}
			if(navigator.userAgent.indexOf("Android")>0){
				window.js.goBack();
			}
		}else{
			window.history.back();
		}
			
	}
	//设置默认值
	var tab_index = 0; //默认选中快递收货方式
	var freight = 0; //默认运费
	var GoodsMoney = 0; //单个或多个商品数量*价格的金额合计
	var coupon_ids = []; //使用优惠券的id集合
	var CouponPrice = 0; //使用优惠券的金额合计
	var coupon_page = 1; //优惠券列表 分页 页数
	var is_over_use = []; //判断优惠券叠加使用  临时数组
	var coupon_index = 0;
	var ProductIds = []; //商品id集合
	var BrandIds = []; //商品品牌集合
	var CateIds = []; //商品分类集合
	var UserScore = "@WorkContext.UserInfo.UserScore"; //用户现有积分
	var UserCardMoney = "@WorkContext.UserInfo.UserMoney"; //用户现有会员卡余额
	UserCardMoney = Number(UserCardMoney);
	UserScore = Number(UserScore);
	var finalTotal = 0;
	var AddressId = "",
	    RegionId = "",
	    default_addr_name = "",
	    ShipMode = 0,
	    PayScore = 0,
	    IsCart = "",
	    ProductId = "",
	    SkuId = "",
	    Quantity = "",
	    Weight = "",
	    UserMoney = "",
	    Memo = "",
	    InvoiceId = "",
	    Consignee = "",
	    Mobile = "",
	    ShipTime = "",
	    ShopId = "",
	    Province = "",
	    City = "",
	    County = "",
	    Town = "",
	    Address = "",
	    DiscountAmount = "",
	    OrderAmount = "",
	    ShipDate = "",
	    ShipFee = "",
	    PayScore = "",
	    CouponIds = [],
        CouponPrice = 0;
	    

	var dialog = YDUI.dialog;
	var bianji = false;
	var dizhiguanli = false;
	var shanchu = false;
	//  上拉菜单  选择自提店铺
	var $myAs = $('#J_ActionSheet');
	var ScoreValue = "@WorkContext.SellerInfo.ScoreValue";
	var ScoreMoneyValue = "@WorkContext.SellerInfo.ScoreMoneyValue";
	var ScoreMoneyMax = "@(WorkContext.SellerInfo.ScoreMoneyMax)"; //每笔订单最大可以用积分抵扣订单金额的
	var ScoreName = "@WorkContext.SellerInfo.ScoreName";
	var yxhuiyuan = "@WorkContext.UserInfo.UserMoney";
	var yxjifen = $(".jifen").text();
	var guize = Number(ScoreMoneyValue / ScoreValue);
	//重新处理获取优惠券 
	var cpage = 1;
	var cindex = 0;
	
	! function() {
		FullFreeAmount = $("#FullFreeAmount").val();
		//自提快递tab
	    //  tab
	    var $tab = $('#J_Tab');
	    $tab.tab({
	        nav: '.tab-nav-item',
	        panel: '.tab-panel-item',
	        activeClass: 'tab-active'
	    });
	    $tab.find('.tab-nav-item').on('open.ydui.tab', function(e) {
	        //	console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
	        if (e.index == 0) {
	            $(".youfei").show();
	            $($("#peisongfei").parents(".sub_con")).hide();
	        }
	        if (e.index == 1) {
	            $(".youfei").hide();
	            $($("#peisongfei").parents(".sub_con")).hide();
	        }
	        if (e.index == 2) {
	            $($("#peisongfei").parents(".sub_con")).show();
	        }
	        
	    });
	  /*  $tab.find('.tab-nav-item').on('open.ydui.tab', function(e) {
	        setTimeout(function(){
	        	
	        },100);
	    });*/
	    
	    $(".tab-nav").on("click",function(){
	    	tab_index = $(this).index();
	    	sum_total();
	    });
	    
	    $('#J_ShowActionSheet').on('focus', function(event) {
	        event.stopPropagation();
	        $("#J_ShowActionSheet").blur();
	        $.get('GetShops', {SellerId:$(".SellerId").eq(0).val()}, function(data) {
	            //   示例菜单 - Javascript API
	            var dete = data.Data;
	            var html = "";
	            for (var i = 0; i < dete.length; i++) {
	                html += '<a href="#" class="actionsheet-item" onclick="ClickedBranch(this)" data-ShopId="' + dete[i].ShopId + '" >' + dete[i].ShopName;
	                html += '</a>';
	            }
	            $("#J_con").find(".actionsheet-item").remove();
	            $("#J_Cancel").before(html);
	            $(".g-scrollview").show();
	            event.stopPropagation();
	            $myAs.actionSheet('open');
	        }, 'JSON');
	    });
	    $('#J_Cancel').on('click', function() {
	        $(".g-scrollview").css({
	            'display': 'none'
	        });
	        $myAs.actionSheet('close');
	    });
	    // 上拉菜单
	    $myAs.on('open.ydui.actionsheet', function() {
	        //	console.log('打开了');
	    }).on('close.ydui.actionsheet', function() {
	        //	console.log('关闭了');
	    });
	    //提交
	    $("#settlement").on("click", function() {
	        //  判断是从哪里提交的
	        var ship = $(".tab-panel .tab-active").index();
	        //  购物车过来还是直接过来
	        IsCart = $("#IsCart").val();
	        // 订单备注
	        Memo = $(".textarea").val();
	        // 发票类型  暂时不加这个功能
	        InvoiceId = "";
	        //  使用积分
	        // PayScore
	        //  Quantity
	        if (IsCart == 1) {
	            // 直接过来
	            var list_number = 0;
	            for (var _i = 0; _i < $(".list_number").length; _i++) {
	                list_number = list_number+Number($(".list_number").eq(_i).text().trim());
	            };
	            $("#Quantity").val(list_number.toFixed(0));
	        } else {
	            // 不是从购物车直接过来的
	            $("#Quantity").val($(".list_number").text().trim());
	        };
	        //  产品的ID   ProductId SkuId
	        if ($(".SkuId").length > 2) {
	            // 这里是多个商品  就不传值了;
	            ProductId = "";
	            SkuId = "";
	        } else {
	            ProductId = $(".ProductId").val();
	            SkuId = $(".SkuId").val();
	        };
	        //  UserMoney  会员卡扣金额
	        // 订单结算后的总金额
	        OrderAmount = Number($("#amount_formated").text().trim());
	        
	        //  这里是快递方式
	        if (ship == 0) {
	            // 这里是快递  的提交方式   1、 是否选择地址 2、
	            ShipMode = 1;
	            // 已选地址
	            if(OrderAmount>=FullFreeAmount  && Number(FullFreeAmount)>0){
	            	ShipFee = 0;
	            }else{
	            	ShipFee = $("#goods_tags0").text();
	            }
	            
	            if (AddressId == "" || typeof(AddressId) == "undefined") {
	                YDUI.dialog.alert("当前选择地址无效、请添加或者重新编辑改地址");
	            } else {
	            	if(RegionId==0 || RegionId=="" || typeof(RegionId)=="undefined"){
		            	YDUI.dialog.alert("当前选择地址无效、请添加或者重新编辑改地址");
		            	return false;
		            }else{
		            	// 可以提交
		            	tijiao();
		            }
	            };
	        } else if (ship == 1) {
	            // 这里是自提的提交方式
	            Consignee = $("#Consignee1").val();
	            if (Consignee == '') {
	                YDUI.dialog.alert("请输入取货人");
	                return false;
	            };
	            var han = /^[\u4e00-\u9fa5]{0,}$/;
	            if (!han.test(Consignee)) {
	                YDUI.dialog.alert("取货人请输入中文");
	                return false;
	            };
	            Mobile = $("#Mobile1").val();
	            ShopId = $("#J_ShowActionSheet").attr("data-ShopId");
	            ShipDate = $("#ShipDate").val();
	            ShipMode = 2;
	            ShipFee = 0;
	            //  验证手机号
	            if (isPoneAvailable(Mobile)) {
	                if (Consignee == "" || ShipDate == "" || ShopId == "" || typeof(ShopId) == "undefined" || typeof(ShipDate) == "undefined" || typeof(Consignee) == "undefined") {
	                    YDUI.dialog.alert("还有关键资料未填写、货物无法送达哦");
	                } else {
	                    // 资料验证通过   可以提交
	                    tijiao();
	                };
	            } else {
	                // 手机验证没通过
	                YDUI.dialog.alert("请填写正确的手机号!");
	            };
	            // 验证收货人和分店
	        }
	
	        function tijiao() {
	        	$("body #settlement").attr("disabled","disabled");
	        	var couponids_str = "";
	        	if(coupon_ids.length>0){
	        		couponids_str = coupon_ids.join(",");
	        	}
	            Weight = $("#Weight").val();
	            Quantity = $("#Quantity").val();
	            OrderAmount = $("#amount_formated").text().trim();
//	            PayScore = Number($("#jifenkoukuan").text().trim()) / Number(ScoreMoneyValue / ScoreValue);
//	            PayScore = Math.ceil(PayScore);
                //PayScore=$('#goods_score').text();
	            PayScore = Number($("#goods_score").text().trim());
	            UserMoney = Number($("#goods_tags1").text().trim());
	            CouponPrice = $("#coupon-price").text();
	            if(CouponPrice==0 || CouponPrice=="0"){
	            	couponids_str = "";
	            }
	            ShipFee = $("#goods_tags0").text();
	            ItemId = $(".ItemId").val();
	            SellerId = $(".SellerId").val();
	            
	            $.post('/m/order/ScoreBuyOrderAdd', {
	                AddressId: AddressId, // 地址
					RegionId: RegionId, // 地区邮寄地区的最后一个的id
					ShipMode: ShipMode, // 配送方式   1  2  4
					PayScore: PayScore, // 使用积分					
					ItemId: ItemId, // 如果是直接过来穿商品ID
					SkuId: SkuId, // 如果是直接过来 传产品
					Quantity: Quantity, // 如果是直接过来 这里穿数量				
					UserMoney: UserMoney, // 会员卡扣金额
					Memo: Memo, // 订单备注
					InvoiceId: InvoiceId, // 发票类型
					Consignee: Consignee, // 收货人姓名
					Mobile: Mobile, // 联系电话
					ShipTime: ShipDate, // 提货时间
					ShopId: ShopId, // 自提店铺
					Province: Province, // 选择的省
					City: City, // 选择的市
					County: County, // 选择的区
					Town: Town, // 选择的镇
					Address: Address, // 详细地址
					DiscountAmount: DiscountAmount, // 活动优惠的金额
					OrderAmount: OrderAmount, // 订单结算后的总金额
					ShipFee:ShipFee,
					Weight:Weight,
					OrderType: 10
	            }, function(datas) {
	            	$("body #settlement").removeAttr("disabled");
	                if (datas.Message == "恭喜您，订单已成功提交！") {
	                	if(IsApp==1){
		                	if(navigator.userAgent.indexOf("iPhone")>0){
								scoreBuyPage(datas.OrderId);
							}
		                	if(navigator.userAgent.indexOf("Android")>0){
								window.js.scoreBuyPage(datas.OrderId);
							}
	                	}else{
	                		var url = datas.Data;
	                		location.href = url;
	                		return true;
	                	}
	                } else {
	                    YDUI.dialog.alert(datas.Message);
	                }
	            }, 'JSON');
	        }
	    });
	}();
	
	//  手机号验证
	function isPoneAvailable(phone) {
	    var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
	    if (!myreg.test(phone)) {
	        return false;
	    } else {
	        return true;
	    };
	};
	//  清空所有的input
	function clearInput() {
	    $("#Consignee_Name").val("");
	    $("#Consignee_Phone").val("");
	    $("#Consignee_Map").val("");
	    //  省市区暂时不知道是个什么形式的  先空着
	};
	//  选择门店
	function ClickedBranch(_this) {
	    $("#J_ShowActionSheet").val($(_this).text().trim());
	    $("#J_ShowActionSheet").attr("data-ShopId", $(_this).attr("data-ShopId"));
	    $myAs.actionSheet('close');
	};
	
	//给子页面 地址页传值
	//把地址列表页选择的数据设置到提交订单页
	function reloadData(item){
		$("#app-addr").css("display","none");
		$("body #settlement").removeAttr("disabled");
		Address = item.Address;
		AddressId = item.AddressId;
		Mobile = item.Mobile;
		Consignee = item.Consignee;
		Province = item.Province;
		City = item.City;
		County = item.County;
		Town = item.Town;
		RegionId = Town;
		
		
		
		$("#map_name").text(item.Consignee);
		$("#map_phon").text(item.Mobile);
		$("#map_map").text(item.Address);
		sum_total();
		$(".no-addr").css("display","none");
		$(".has-addr").css("display","block");
	}
	//打开地址选择列表
	function openAddr(){
		/*layer.open({
		    type: 2,
		    title: '选择地址',
		    shadeClose: true,
		    shade: 0.8,
		    area: ['100%', '100%'],
		    content: '/m/usercenter/address?pagetype=1'
		}); */
		$("#app-addr").css("display","block");
	}
	//关闭
	function closeLayer(){
		layer.closeAll();
	}
	//根据code获取城市名字
	function getAddrName(id,type) {
		var ProvinceName = "";
		var CityName = "";
		var CountyName = "";
		var TowmName = "";
		var Addr = "";
		$.ajax({
			type:"get",
			url:"/Api/Tool/GetRegionInfo?Regionid="+id,
			async:true,
			dataType:"json",
			success: function(rel) {
				if(rel.code==1){
					if(type==0){
						ProvinceName = rel.data.regionname;
					}else if(type==1){
						CityName = rel.data.regionname;
					}else if(type==2){
						CountyName = rel.data.regionname;
					}else if(type==3){
						TowmName = rel.data.regionname;
					}
				}
				Addr = ProvinceName+CityName+CountyName+TowmName;
			}
		});
	}
	//  get 默认地址
	function getDefaultAddress(){
		$.ajax({
			type:"get",
			url: "/m/order/address?userid="+"@WorkContext.Uid",
			async:true,
			success: function(rel){
				var rst = JSON.parse(rel);
				$("body #settlement").removeAttr("disabled");
				var data = rst.Data;
		        var IsDefault = false;
		        var curI = 0;
		        if(rst.Code==1){
        			data.forEach(function(v, i){
        				if(v.IsDefault==1){
        					IsDefault = true;
        					curI = i;
        				}
        			});
	        		AddressId = data[curI].AddressId;
					Province = data[curI].Province;
					City = data[curI].City;
					County = data[curI].County;
					Town = data[curI].Town;
					Mobile = data[curI].Mobile;
					Consignee = data[curI].Consignee;
					RegionId = Town;
	        		Address = data[curI].Address;
	        		$("#map_name").text(Consignee);
	        		$("#map_phon").text(Mobile);
	        		$("#map_map").text(Address);
	        		$(".no-addr").css("display","none");
		        	$(".has-addr").css("display","block");
		        	sum_total();
		        }
			}
		});
	}
	
	
	//计算商品总价
	function sum_product_money() {
		$(".goods-list").each(function(i, v){
			var money = Number($(this).find(".list_price").text());
			var num = Number($(this).find(".list_number").text());
			GoodsMoney = GoodsMoney+money*num;
			
		});
		GoodsMoney = Math.floor(GoodsMoney * 100) / 100 ;
		GoodsMoney = Number(GoodsMoney).toFixed(2);
		var profits=Number($('.profits_score').text());
		var quantity=Number($('.list_number').text());//商品数量
		$('#goods_score').text(calc(profits,'*',quantity,3))
		$("#goods_tags").text('¥'+GoodsMoney);
		$("#amount_formated").text(GoodsMoney);
	}

	//加减乘除计算
	function calc (arg1, op, arg2,dot) {
	    var ra = 1, rb = 1, m;
	    try {
	        ra = arg1.toString().split('.')[1].length;
	    } catch (e) {
	    }
	    try {
	        rb = arg2.toString().split('.')[1].length;
	    } catch (e) {
	    }
	    m = Math.pow(10, Math.max(ra, rb));
	
	    switch (op) {
	        case '+':
	        case '-':
	            arg1 = Math.round(arg1 * m);
	            arg2 = Math.round(arg2 * m);
	            break;
	        case '*':
	            ra = Math.pow(10, ra);
	            rb = Math.pow(10, rb);
	            m = ra * rb;
	            arg1 = Math.round(arg1 * ra);
	            arg2 = Math.round(arg2 * rb);
	            break;
	        case '/':
	            arg1 = Math.round(arg1 * m);
	            arg2 = Math.round(arg2 * m);
	            m = 1;
	            break;
	    }
	    try {
	        var result = eval('(' + '(' + arg1 + ')' + op + '(' + arg2 + ')' + ')/' + m);
	    } catch (e) {
	    }
	    if(result.toString().indexOf(".")!=-1){
	    	var strarr = result.toString().split(".");
	    	if(strarr[1].length>dot){
	    		result = strarr[0]+"."+strarr[1].substring(0,dot);
	    	}
	    }
	    return result;
	};
	//计算最终付款金额
	function sum_total() {
		tab_index = $("#J_Tab .tab-nav .tab-active").index();
		if(tab_index==0){
			$(".youfei").css("display","block");
			sum_freight();
		}else{
			$(".youfei").css("display","none");
			$("#amount_formated").text(GoodsMoney);
		}
	}
	
	
	//根据地址计算运费
	function freigthByAddr(){
		ItemId = $(".ItemId").val();
        SellerId = $(".SellerId").val();
	    $.get('/m/Order/GetShipTemplate', {
	        Province: Province,
	        City: City,
	        Country: County,
	        Town: Town,
	        SellerId: SellerId,
	        t: Math.random()
	    }, function(data) {
	        var datas = data;
	       if (datas.Code == 1) {
	            /*
	             * 运费计算公式
	             * NumWeight  超出首重的重量(总重 - 运费模版首重) / 运费模版超重重量基数 + 没填重量的商品的个数*5
	             * CountShipFee 运费模版首重money + NumWeight * 运费模版超重价格基数
	             */
	            var NumWeight = 0;
	            if (Weight > datas.Data.Weight) {
	            	NumWeight = calc(Weight, '-' , datas.Data.Weight,2);
	            	if(Number(datas.Data.AddWeight)!=0 || datas.Data.AddWeight!=""){
	            		NumWeight = Math.ceil(NumWeight / datas.Data.AddWeight);
	            	}else{
	            		NumWeight = 0;
	            	}
	            }
	            NumWeight = Number(NumWeight).toFixed(2);
	            var CountShipFee = calc (datas.Data.Price,'+', NumWeight * datas.Data.AddPrice,2);
	            freight = CountShipFee;
	            if(Weight<=0){
	            	freight = datas.Data.Price;
	            }
	            if(Number(FullFreeAmount)>0 && GoodsMoney>=Number(FullFreeAmount)){
	            	freight = 0;
	            }
	            
	            $("#goods_tags0").text(freight);
	            if(freight && freight>0){
			    	$("#goods_tags0").parent().show();
				}else{
					$("#goods_tags0").parent().hide();
				}
				var total = calc (GoodsMoney,'+', freight,2);
				$("#amount_formated").text(total);
	        } else {
	            YDUI.dialog.alert("当前地址无效、请重新选择");
	        }
	    }, 'JSON');
	    
	}
	function getWeight(){
		Weight = 0;
		$(".list-item").each(function(){
       		var cur_weight = $(this).attr("data-weight");
       		var cur_num = $(this).find(".list_number").text().trim();
       		Weight = Number(Weight+cur_weight*cur_num ) ;
        });
		Weight = Number(Weight).toFixed(2);
        $("#Weight").val(Weight);
	}
	//计算运费
	function sum_freight() {
		getWeight();
		FullFreeAmount = Number(FullFreeAmount);
		if(FullFreeAmount>0 && GoodsMoney>FullFreeAmount){
			//满多少金额免运费
			freight = 0;
			$("#goods_tags0").text(0);
		}else{
			//根据地址计算运费
		    if(Town!="" && typeof(Town)!="undefined"){
				freigthByAddr(Province,City,County,Town);
			}else{
		    	$("#goods_tags0").text(freight);
		    	if(freight && freight>0){
			    	$("#goods_tags0").parent().show();
				}else{
					$("#goods_tags0").parent().hide();
				}
				var total = calc (GoodsMoney,'+', freight,2);
				$("#amount_formated").text(total);
		    }
		}
		
		
	}
	
	$(function() {
		
		IsCart = 0;
		if (IsCart == 1) {
            // 直接过来
            var list_number = 0;
            for (var _i = 0; _i < $(".list_number").length; _i++) {
                list_number += Number($($(".list_number")[_i]).text().trim());
            };
            $("#Quantity").val(list_number.toFixed(0));
        } else {
            // 不是从购物车直接过来的
            $("#Quantity").val($(".list_number").text().trim());
        };
		
		
	  	/*初始化计算商品总价*/
	  	sum_product_money();
		/*初始化 获取默认地址  计算邮费*/
		getDefaultAddress();
		
		$("#invoice").on("click", ".back", function() {
		    $("#invoice").hide();
		});
		
		$("#geren").change(function() {
		    if ($(this).prop('checked')) {
		        $(".gongsi").hide();
		    } else {
		        $(".gongsi").show();
		    }
		});
		$("#company").change(function() {
		    if ($(this).prop('checked')) {
		        $(".gongsi").show();
		    } else {
		        $(".gongsi").hide();
		    }
		});
		//  头部
		$(".cityselect-nav").on('click', 'a', function() {
		    $(".cityselect-nav a").removeClass('crt');
		    $(this).addClass("crt");
		    if ($(this).index() == 0) {
		        $("#S_City_Show").removeClass('cityselect-next');
		        $("#S_City_Show").removeClass('cityselect-end');
		        $("#S_City_Show").addClass('cityselect-prev');
		    }
		    if ($(this).index() == 1) {
		        $("#S_City_Show").removeClass('cityselect-next');
		        $("#S_City_Show").removeClass('cityselect-end');
		        $("#S_City_Show").addClass('cityselect-prev');
		    }
		    if ($(this).index() == 2) {
		        $("#S_City_Show").removeClass('cityselect-end');
		        $("#S_City_Show").removeClass('cityselect-prev');
		        $("#S_City_Show").addClass('cityselect-next');
		    }
		    if ($(this).index() == 3) {
		        $("#S_City_Show").removeClass('cityselect-next');
		        $("#S_City_Show").removeClass('cityselect-prev');
		        $("#S_City_Show").addClass('cityselect-end');
		    }
		});
		$(".invoice_chioce").on("click", function() {
		    $("#invoice").show();
		});
		$("#Consignee_Map").on("click", function() {
		    $("#Consignee_Map").focus();
		});
		$(".cell-input").click(function() {
		    $(this).focus();
		});
		
		
		/*//   选择时间
	    $("#pickTime").on('click', function(event) {
	        event.stopPropagation();
	        $("#pickTime").blur();
	        pickuptime.init(0, function(data) {
	            var b = data.split(" ");
	            var datesss = new Date();
	            var year = datesss.getFullYear(); // 2018 
	            var month = b[0].split("月")[0];
	            if (month < 10) {
	                month = "0" + month;
	            }
	            var day = b[0].split("月")[1].split("日")[0];
	            if (day < 10) {
	                day = "0" + day;
	            }
	            var hours = b[3].split(":")[0];
	            var minutes = b[3].split(":")[1];
	            var ShipDates = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + "00";
	            $("#ShipDate").val(ShipDates);
	            $("#pickTime").val(data);
	        });
	    });*/
	});
    </script>
    
    <script type="text/javascript">
    	var page_type = 0;
function GetUrlParam(paraName) {
　　　　var url = document.location.toString();
　　　　var arrObj = url.split("?");
　　　　if (arrObj.length > 1) {
　　　　　　var arrPara = arrObj[1].split("&");
　　　　　　var arr;
　　　　　　for (var i = 0; i < arrPara.length; i++) {
　　　　　　　　arr = arrPara[i].split("=");
　　　　　　　　if (arr != null && arr[0] == paraName) {
　　　　　　　　　　return arr[1];
　　　　　　　　}
　　　　　　}
　　　　　　return "";
　　　　}
　　　　else {
　　　　　　return "";
　　　　}
}

function addrToBack(){
	$("#app-addr").css("display","none");
}

page_type = GetUrlParam("pagetype");

var vm = new Vue({
    el: '#app-addr',
    data: {
      viewShow:false,
      editShow:false,
      addressList:[],
      AddressId:'',
      Mobile:'',
      Address:'',
      addressdetail:'',
      Consignee:'',
      IsDefault:true,
      Provinceid:'',
      Cityid:'',
      Countyid:'',
      Townid:'',
              ////////////////////////
      curIndex: 0,
		Province: [],
		City: [],
		County: [],
		Town: [],
		curProvince: "",
		curProvinceName: "",
		curCity: "",
		curCityName: '',
		curCounty: "",
		curCountyName: '',
		curTown: "",
		initProvince: "",
		initCity: "",
		initCounty: "",
		initTown: "",
		curTownName: '',
		isInit: true,
		Addr: "",
		Address: ""
    },
    watch: {
    	Mobile: function(val,oldval) {
			this.Mobile = val.replace(/[^\d]/g,"");
			if(this.Mobile.length>11){
				this.Mobile = oldval;
			}
		},
    },
    methods:{
    	clearData:function(){
    		 var _this=this;
             _this.AddressId='';
	 		 _this.Mobile='';
			 _this.Addr='';
			 _this.addressdetail=''
			 _this.Consignee='';
			 _this.IsDefault=true;
			 _this.curProvince='';
			 _this.curCity='';
			 _this.curCounty='';
			 _this.curTown='';
			 _this.curProvinceName='';
			 _this.curCityName='';
			 _this.curCountyName='';
			 _this.curTownName='';
			 _this.initProvince='';
			 _this.initCity='';
			 _this.initCounty='';
			 _this.initTown=''
    	},
    	addRess:function(num){
    		if(num==0){
    			$(".adr-addrlist").css("display","none");
    		}else{
    			$(".adr-addrlist").css("display","block");
    		}
    		var _this=this;
    		_this.viewShow=!_this.viewShow;
    		_this.clearData();
			_this.City=[]
            _this.getProvinceTab();
    	},
    	editaddRess:function(item){
    		if(item){
    			$(".adr-addrlist").css("display","none");
    		}else{
    			$(".adr-addrlist").css("display","block");
    		}
    		var _this=this;
    		_this.editShow=!_this.editShow;
    		if(_this.editShow){
    			if(item){
    				if(item.IsDefault==1){
		    				_this.IsDefault=true;
		    		}else{
		    				_this.IsDefault=false;
		    		}
    				var Address=item.Address;
    				var Addr=Address.split('~')[0];
    			     _this.AddressId=item.AddressId;
					 _this.Mobile=item.Mobile;
					 _this.Addr=Addr;
					 _this.addressdetail=Address.split('~')[1]
					 _this.Consignee=item.Consignee;
					 _this.curProvince=item.Province;
					 _this.curCity=item.City;
					 _this.curCounty=item.County;
					 _this.curTown=item.Town;
					 _this.curProvinceName=Addr.split('-')[0];
					 _this.curCityName=Addr.split('-')[1];
					 _this.curCountyName=Addr.split('-')[2];
					 _this.curTownName=Addr.split('-')[3];
    		    }
    		}else{
    			      _this.clearData();
    		}
    	},
    	getList:function(){
    		var _this=this;
    		$.ajax({
				type: "get",
				url: "/m/order/address?userid="+"@WorkContext.Uid",
				async: true,
				dataType: "json",
				success: function(rel) {
					if(rel.Code==1){
						_this.addressList=rel.Data;
						if(_this.addressList.length==0){
							_this.addressList = [];
						}
					}else{
						 _this.addressList = [];
						 _this.clearData();
					}
				}
			});
    	},
    	saveForm:function(num,item){//保存编辑 1.编辑  2.保存 3.设置默认
    		
    		var _this=this;
    		var IsDefault;
    		var dataForm = {};
    		if(num==3){//设置默认
    			if(_this.IsDefault){
	    			IsDefault=1
	    		}else{
	    			IsDefault=0
	    		}
    			dataForm={
    				AddressId: item.AddressId,
					Mobile: item.Mobile,
					Address: item.Address,
					Consignee: item.Consignee,
					IsDefault: IsDefault,
					Province: item.Province,
					City:item.City,
					County: item.County,
					Town: item.Town,
    		    }
    		}else{//编辑保存
	    			var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
	    		if(_this.Consignee==''){
	    			$.toptips('姓名不能为空');
	    			return false;
	    		}else if(_this.Mobile==''){
	    			$.toptips('手机号不能为空');
	    			return false;
	    		}else if(!myreg.test(_this.Mobile)){
	    			$.toptips('手机号格式不正确');
	    			return false;
	    		}else if(_this.Addr==''){
	    			$.toptips('请选择地址');
	    			return false;
	    		}else if(_this.addressdetail==''){
	    			$.toptips('详细地址不能为空')
	    			return false;
	    		}
	    		if(_this.IsDefault){
	    			IsDefault=1
	    		}else{
	    			IsDefault=0
	    		}
    			dataForm={
    				AddressId: _this.AddressId,
					Mobile: _this.Mobile,
					Address: _this.Addr+'~'+_this.addressdetail,
					Consignee: _this.Consignee,
					IsDefault: IsDefault,
					Province: _this.curProvince,
					City: _this.curCity,
					County: _this.curCounty,
					Town: _this.curTown,
    		    }
    		}
    		$.ajax({
				type: "POST",
				url: "/m/order/AddressSave",
				async: true,
				data:dataForm,
				dataType: "json",
				success: function(rel) {
					if(rel.Code==1){
						_this.getList();
						if(num==1){
							_this.editaddRess();
						}else if(num==2){
							_this.addRess();
						}
						$(".adr-addrlist").css("display","block");
					}else{
					}
				}
			});
    	},
    	deleteitem:function(AddressId){
    		var _this=this;
    		    /*$.confirm("您确定要删除吗?", "确认删除?", function() {
					//  删除地址						
						$.post('/m/order/AddressDelete', {
							'AddressId': AddressId
						}, function(data) {
							_this.getList();
						}, 'JSON');
				 });*/
				layer.confirm('您确定要删除吗?', {
				  btn: ['确定','取消'] //按钮
				}, function(){
					layer.closeAll();
				    $.post('/m/order/AddressDelete', {
						'AddressId': AddressId
					}, function(data) {
						_this.getList();
					}, 'JSON');
				}, function(){
				  
				}); 
    	},
    	chosedefault:function(item){//选择默认地址
    		var _this=this;
    		_this.Isdefault=!_this.Isdefault;
    		_this.saveForm(3,item);
    	},
    	initAddr:function() {
			var _this = this;
			$.ajax({
				type:"get",
				url:"/Api/User/GetCityList?Province="+_this.initProvince,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.City = rel.data;
					}
				}
			});
			$.ajax({
				type:"get",
				url:"/Api/User/GetCountyList?City="+_this.initCity,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.County = rel.data;
					}
				}
			});
			$.ajax({
				type:"get",
				url:"/Api/User/GetTownList?County="+_this.initCounty,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.Town = rel.data;
					}
				}
			});
		},
		showAddr: function (){
			//$("#app-addr").click();
			$(".shade-box").css("display","block");
			$(".shade-box").css("z-index","111111113");
		},
		clearAddr: function() {
			var _this = this;
			_this.curCity = 0;
			_this.curCityName = "";
			_this.curCounty = 0;
			_this.curCountyName = "";
			_this.curTown = 0;
			_this.curTownName = "";
		},
		getProvince: function() {
			var _this = this;
			$.ajax({
				type:"get",
				url:"/Api/User/GetProvinceList",
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.Province = rel.data;
					}
				}
			});
		},
		getAddrName: function(id,type) {
			var _this = this;
			$.ajax({
				type:"get",
				url:"/Api/Tool/GetRegionInfo?Regionid="+id,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						if(type==0){
							_this.curProvinceName = rel.data.regionname
						}else if(type==1){
							_this.curCityName = rel.data.regionname
						}else if(type==2){
							_this.curCountyName = rel.data.regionname
						}else if(type==3){
							_this.curTownName = rel.data.regionname
						}
						_this.Addr = _this.curProvinceName+'-'+_this.curCityName+'-'+_this.curCountyName+'-'+_this.curTownName;
						console.log(_this.Addr);
					}
				}
			});
		},
		getProvinceTab: function(regionid,regionname) {
			$(".addr-box").animate({"margin-left":0},100);
			this.curIndex = 0;
		},
		getCityTab: function(regionid,regionname) {
			$(".addr-box").animate({"margin-left":"-3.75rem"},100);
			this.curIndex = 1;
		},
		getCountyTab: function(regionid,regionname) {
			$(".addr-box").animate({"margin-left":"-7.5rem"},100);
			this.curIndex = 2;
		},
		getTownTab: function(regionid,regionname) {
			$(".addr-box").animate({"margin-left":"-7.5rem"},100);
			this.curIndex = 3;
		},
		getCity: function(regionid,regionname) {
			var _this = this;
			_this.isInit = false;
			_this.curProvince = regionid;
			_this.curProvinceName = regionname;
			_this.curCity = 0;
			_this.curCityName = "";
			_this.curCounty = 0;
			_this.curCountyName = "";
			_this.curTown = 0;
			_this.curTownName = "";
			_this.curIndex = 0;
			//$(".addr-box").animate({"margin-left":"-3.75rem"},100);
			$.ajax({
				type:"get",
				url:"/Api/User/GetCityList?Province="+regionid,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.City = rel.data;
					}
				}
			});
		},
		getCounty: function(regionid,regionname) {
			var _this = this;
			_this.curCity = regionid;
			_this.curCityName = regionname;
			_this.curCounty = 0;
			_this.curCountyName = "";
			_this.curTown = 0;
			_this.curTownName = "";
			var index = $(".cur-li").index();
			if(_this.curIndex<index){
				$(".addr-box").animate({"margin-left":0},100);
			}else{
				$(".addr-box").animate({"margin-left":"-3.75rem"},100);
			}
			_this.curIndex = 1;
			
			$.ajax({
				type:"get",
				url:"/Api/User/GetCountyList?City="+regionid,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.County = rel.data;
					}
				}
			});
		},
		getTown: function(regionid,regionname) {
			var _this = this;
			_this.curCounty = regionid;
			_this.curCountyName = regionname;
			_this.curTown = 0;
			_this.curTownName = "";
			var index = $(".cur-li").index();
			if(_this.curIndex<index){
				$(".addr-box").animate({"margin-left":"-3.75rem"},100);
			}else{
				$(".addr-box").animate({"margin-left":"-7.5rem"},100);
			}
			_this.curIndex = 2;
			$.ajax({
				type:"get",
				url:"/Api/User/GetTownList?County="+regionid,
				async:true,
				dataType:"json",
				success: function(rel) {
					if(rel.code==1){
						_this.Town = rel.data;
					}
				}
			});
		},
		selTown: function(regionid,regionname) {
			var _this = this;
			_this.curTown = regionid;
			_this.curTownName = regionname;
			_this.curIndex = 3;
			_this.Addr = _this.curProvinceName+'-'+_this.curCityName+'-'+_this.curCountyName+'-'+_this.curTownName;
			$(".shade-box").css("display","none");
			$("#addr").val("");
			_this.Address = "";
			$('#Longitude').text("");
			$('#Latitude').text("");
		},
		selectaddr: function(item) {
			reloadData(item);
		}
    },
    mounted:function(){
    	var _this=this;
    	_this.getList();
    },
    created: function () {
		this.getProvince();
		this.initAddr();
		this.getAddrName(this.curProvince,0);
		this.getAddrName(this.curCity,1);
		this.getAddrName(this.curCounty,2);
		this.getAddrName(this.curTown,3);
	},
 })
    </script>
<script type="text/javascript">
	function pikerTime(){
		var curTimeIndex = 0;
		var MyDate = new Date();
		var curTime = new Date(formatTime(MyDate)).getTime();
		curTime = curTime.toString();
		curTime = curTime.substring(0,8);
		curTime = curTime+"00000";
		curTime = parseInt(curTime);
		curTime = curTime-28800000;
		var basetime = 86400000;
		var zeroTime = new Date(curTime).getTime();//当天00:00:00
		var MyDate2 = new Date(zeroTime+basetime);
		var MyDate3 = new Date(zeroTime+basetime*2);
		var MyDate4 = new Date(zeroTime+basetime*3);
		var MyDate5 = new Date(zeroTime+basetime*4);
		var MyDate6 = new Date(zeroTime+basetime*5);
		var MyDate7 = new Date(zeroTime+basetime*6);
		var pikerDay = [];
		var curDayStr = formatTime(MyDate);
		pikerDay = [formatTime(MyDate),formatTime(MyDate2),formatTime(MyDate3),formatTime(MyDate4),formatTime(MyDate5),formatTime(MyDate6),formatTime(MyDate7)];
		function formatTime(MyDate){
			var curYear = MyDate.getFullYear();
			var curMon = MyDate.getMonth();
			var curDay = MyDate.getDate();
			curMon = Number(curMon)+1;
			if(curMon<=9){
				curMon = "0"+curMon;
			}
			if(Number(curDay)<=9){
				curDay = "0"+curDay;
			}
			var dayStr = curYear+"-"+curMon+"-"+curDay;
			return dayStr;
		}
		var vmPiker = new Vue({
			el: "#piker-time-vue",
			data:{
				pikerDay: pikerDay,
				pikerTime: ["07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00","24:00"],
				dayIndex: 0,
				timeIndex: 0,
				curIndex: 0,
				shiptime: ""
			},
			created: function() {
				
			},
			methods: {
				clickPikerDay: function(item,index){
					item = item+" 00:00:00";
					this.dayIndex = index;
					if(parseInt(new Date(item).getTime()) == zeroTime){
						
						var thisTime = new Date().getTime();
						thisTime = parseInt(thisTime);
						var diffTime = thisTime-zeroTime;
						diffTime = parseInt(diffTime/1000);
						var curHour = parseInt(diffTime/3600);
						curHour = curHour+":00";
						var curIndex = $.inArray(curHour,this.pikerTime);
						if(curIndex<=0){
							curIndex = 0;
						}
						if(this.timeIndex<=curIndex){
							this.timeIndex=0;
						}
						this.curIndex = curIndex;
						
					}else{
						this.curIndex = 0;
					}
				},
				clickPikerTime: function(item,index){
					this.timeIndex = index;
				},
				confirmPiker: function() {
					this.shiptime = this.pikerDay[this.dayIndex]+" "+this.pikerTime[this.timeIndex]+":00";
					if(this.timeIndex<=0){
						YDUI.dialog.alert("未选择时间");
						return false;
					}
					$("#pickTime").val(this.shiptime);
					$("#ShipDate").val(this.shiptime);
					$("#piker-time-vue").css("display","none");
					$(".mask-shade").hide();
				}
			}
			
		});
		if(curTime == zeroTime){
			var thisTime = new Date().getTime();
			thisTime = parseInt(thisTime);
			var diffTime = thisTime-zeroTime;
			diffTime = parseInt(diffTime/1000);
			var curHour = parseInt(diffTime/3600);
			curHour = curHour+":00";
			var curIndex = $.inArray(curHour,vmPiker.pikerTime);
			if(curIndex<=0){
				curIndex = 0;
			}
			vmPiker.curIndex = curIndex;
		}
		
		
		//新的选择时间
	    $("#pickTime").on("focus",function(){
	    	$(".mask-shade").show();
	    	$(".shade-piker").css("display","block");
	    });
		$(".mask-shade").on("focus",function(){
	    	$(".mask-shade").css("display","none");
	    	$(".shade-piker").css("display","none");
	    });
	}
	pikerTime();
</script>
</body>
</html>
