@{ Layout = null; }
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>我的钱包-@{@WorkContext.SellerInfo.SellerName}</title>
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/style/weui.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/weui/style/weui2.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/Themes/huadong/static/font/common.css" />
    <link rel="stylesheet" type="text/css" href="/Mobile/Themes/huadong/static/usercenter/mywallet/wallet.css" />
    <script type="text/javascript" charset="utf-8" src="/Mobile/weui/zepto.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/Mobile/weui/ydui.flexible.js"></script>
</head>

<body>
    <div class="header">
        <div class="weui-flex">
            <div class="weui-flex-item lt" onclick="window.history.back()"><span class="icon icon-109"></span></div>
            <div class="weui-flex-item center">我的钱包</div>
            <div class="weui-flex-item rt"></div>
        </div>
        <div class="wallet-info">
        	<div class="wallet-icon">
        		<i class="icon icon-2"></i>
        	</div>
        	<div class="wallet-info-up">
        		<div class="account">账户金额(元)<i class="icon icon-63"></i></div>
        		<div class="account-money" data-account="5389.9">5389.9</div>
        	</div>
        	<div class="wallet-info-down">
        		<div class="account-operation">
        			<a class="account-detail " href="#">明细</a>
        		</div>
        		<div class="account-operation">
        			<a class="account-recharge " href="#">充值</a>
        			<a class="account-forward" href="#">提现</a>
        		</div>
        	</div>
        </div>
    </div>
    <div class="content">
        <div class="weui_grids">
            <a href="javascript:;" class="weui_grid js_grid" style="width:100%">
                <div class="weui_grid_icon num2">
                    <span class="">@ViewData["Bonus"]</span>元
                </div>
                <p class="weui_grid_label">
                    获得收益额
                </p>
            </a>
        </div>
        <!--订单明细 -->
        <div class="weui_grids shekun">
            <a href="javascript:;" class="weui_grid js_grid">
                <div class="weui_grid_icon">
                    <span class="SjName">@ViewData["LeaderNickName"]</span> @if(ViewData["LeaderUserId"].ToString() != "0"){
                    <span class="SjId">@ViewData["LeaderUserId"]</span> }
                </div>
                <p class="weui_grid_label">
                    我的上级
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid fensi">
                <div class="weui_grid_icon">
                    <span class="">@ViewData["Users"]</span>人
                </div>
                <p class="weui_grid_label">
                    我的粉丝
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid yifafang" data-index="0">
                <div class="weui_grid_icon">
                    @if(ViewData["SendBonus"] == ""){
                    <span>0</span> }else{
                    <span>@ViewData["SendBonus"]</span> }
                </div>
                <p class="weui_grid_label">
                    已发放
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid weifafang" data-index="1">
                <div class="weui_grid_icon">
                    <span>@ViewData["UnSendBonus"]</span>
                </div>
                <p class="weui_grid_label">
                    未发放
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid yongjin" data-index="2">
                <div class="weui_grid_icon">
                    <span>@ViewData["Orders"]</span>
                </div>
                <p class="weui_grid_label">
                    佣金订单
                </p>
            </a>
            <a href="javascript:;" class="weui_grid js_grid order">
                <div class="weui_grid_icon">
                    <span>@ViewData["OrderDetails"]</span>
                </div>
                <p class="weui_grid_label">
                    佣金商品
                </p>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="weui_tabbar" style="padding-top: 0.1rem;"></div>
    </div>
    <div id="Order_List0">
        <div class="order_content">
            <ul class="Order_list_ul0"></ul>
            <div class="loading">
                <div class="weui_cells_title hide tcenter" id="more">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore-tips">正在加载</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Order_List1">
        <div class="order_content">
            <ul class="Order_list_ul1"></ul>
            <div class="loading">
                <div class="weui_cells_title hide tcenter" id="more">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore-tips">正在加载</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Order_List2">
        <div class="order_content">
            <ul class="Order_list_ul1 Order_list_ul2">
            </ul>
            <div class="loading">
                <div class="weui_cells_title hide tcenter" id="more">
                    <div class="weui-loadmore">
                        <i class="weui-loading"></i>
                        <span class="weui-loadmore-tips">正在加载</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="loadmore" type="text/html">
        <div class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore-tips">正在加载</span>
        </div>
    </script>
    <script id="tpl-fensi" type="text/html">
        <% for(var i in Data) { %>
            <li>
                <a class="weui_cell">
                    <div class="weui_cell_hd">
                        <img src="<%=Data[i].HeadImgUrl%>" alt="" style="width:20px;margin-right:5px;display:block">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>
                            <span class="userId" style="color: #f13030;"><%=Data[i].UserId%></span>
                            <%=Data[i].NickName%>
                                <span class="dingdan">
							<% if(Data[i].Subscribe==1){ %>
								已关注
							<% } else {%>
								未关注
							<% } %>
						</span>
                        </p>
                    </div>
                    <div class="weui_cell_ft">
                        <%=Data[i].SubscribeTime.replace("T"," ")%>
                    </div>
                </a>
            </li>
            <% } %>
    </script>
    <script id="tpl-product" type="text/html">
        <% for(var i in Data) { %>
            <li class="gd_item">
                <div class="gd_content">
                    <div class="gd_left">
                        <img src="@(WorkContext.ShopConfig.ImageCDN)<%=Data[i].ProductImgUrl%>?w=100&h=100">
                    </div>
                    <div class="gd_right">
                        <p class="re_p1">
                            <%=Data[i].ProductName%>
                        </p>
                        <p class="re_p2">
                            <%=Data[i].SkuSpec%><span class="re_num"><%=Data[i].Quantity%></span></p>
                        <p class="re_p3">价格<span class="re_tag"><%=Data[i].SalePrice%></span></p>
                    </div>
                </div>
            </li>
            <% } %>
    </script>
    <script id="tpl-send" type="text/html">
        <% for(var i in Data) { %>
            <li>
                <div class="order-sn">
                    订单号：<span style="color: #666;"><%=Data[i].OrderSN%></span>
                    <span style="float: right;">分享奖：<span style="color: #f00;"><%=Data[i].Bonus%></span></span>
                </div>
                <div class="order-info">
                    <span>订单ID：<span style="color: #666;"><%=Data[i].OrderId%></span></span>
                    <span style="margin-left: 15px;">
		            	<% if(Send_type==0 || Send_type==2) { %>
			        		下单时间：<span style="color: #999;"><%=Data[i].AddTime.substring(0,Data[i].SendTime.length-4).replace("T"," ")%></span>
                    <% }else if(Send_type==1){ %>
                        发放时间：<span style="color: #999;"><%=Data[i].SendTime.substring(0,Data[i].SendTime.length-4).replace("T"," ")%></span>
                        <% } %>
                            </span>
                </div>
            </li>
            <% } %>
    </script>
    <script id="tpl-footer" type="text/html">
        <% for(var i in Data) { %>
            <a href="<%=Data[i].MenuUrl%>" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="<%=Data[i].MenuPic%>?w=50&h=50" style="display: block; width: 1.6rem; height: 1.6rem; margin: 0px auto;">
                </div>
                <p class="weui_tabbar_label" style="margin: 0px;">
                    <%=Data[i].MenuName%>
                </p>
            </a>
            <% } %>
    </script>
    <script type="text/javascript">
    var index = 0;
    var fpage = 1;
    var pagesize = 20;
    var product_page = 1;
    var send_page = [1, 1, 1];

    function getFooter() {
        $.ajax({
            type: "get",
            url: "/m/tool/navbar",
            async: true,
            success: function(rel) {
                var data = JSON.parse(rel);
                if (data.Code == 1) {
                    var id = 'tpl-footer';
                    var tplx = document.getElementById(id).innerHTML;
                    var desc1 = tpl(tplx, data);
                    $('.footer .weui_tabbar').html(desc1);
                }
            }
        });
    }

    function getFensi() {
        $.ajax({
            type: "post",
            url: "LeaderUsers",
            async: true,
            data: { page: fpage, size: pagesize },
            dataType: "json",
            beforeSend: function() {
                var load_html = $("#loadmore").html();
                $("#Order_List0 #more").html(load_html);
                $("#Order_List0 #more").show();
            },
            success: function(rel) {
                var data = rel;
                if (data.Code == 1) {
                    $("#Order_List0 #more").hide();
                    var id = 'tpl-fensi';
                    var tplx = document.getElementById(id).innerHTML;
                    var desc1 = tpl(tplx, data);
                    $($("#Order_List0").find(".Order_list_ul0")).append(desc1);
                    $("#Order_List0").show();
                    fpage++;
                } else {
                    setTimeout(function() {
                        $("#Order_List0 #more").html("没有更多数据了");
                        return false;
                    }, 1000);
                }
            }
        });
    }

    function getProductLists() {
        $.ajax({
            type: "post",
            url: "LeaderProduct",
            async: true,
            data: { page: product_page, size: pagesize, sort: 0 },
            dataType: "json",
            beforeSend: function() {
                var load_html = $("#loadmore").html();
                $("#Order_List1 #more").html(load_html);
                $("#Order_List1 #more").show();
            },
            success: function(rel) {
                if (rel.Code == 1) {
                    var id = 'tpl-product';
                    var tplx = document.getElementById(id).innerHTML;
                    var desc1 = tpl(tplx, rel);
                    $($("#Order_List1").find(".Order_list_ul1")).append(desc1);
                    $("#Order_List1").show();
                    product_page++;
                } else {

                    $("#Order_List1 #more").html("没有更多数据了");
                    return false;

                }
            }
        });
    }

    function sendLists(index, send_type) {
        $.ajax({
            type: "post",
            url: "AllBonus",
            async: true,
            data: { page: send_page[index], size: pagesize, sort: send_type },
            dataType: "json",
            beforeSend: function() {
                var load_html = $("#loadmore").html();
                $("#Order_List2 #more").html(load_html);
                $("#Order_List2 #more").show();
            },
            success: function(rel) {
                if (rel.Code == 1) {
                    rel.Send_type = send_type;
                    var id = 'tpl-send';
                    var tplx = document.getElementById(id).innerHTML;
                    var desc1 = tpl(tplx, rel);
                    $("#Order_List2 .Order_list_ul2").append(desc1);
                    send_page[index]++;
                } else {

                    $("#Order_List2 #more").html("没有更多数据了");
                    return false;

                }
            }
        });
    }
    $(function() {
        getFooter();
        $(".num2 span").text(Number($(".yifafang span").text().trim()) + Number($(".weifafang span").text().trim()));
        if ($(".SjId").text() == null || $(".SjId").text() == undefined || $(".SjId").text() == "") {
            $(".SjName").css({
                "line-height": "28px",
                "height": '28px'
            });
        }
        $(".back").on("click", function() {
            if ($("#Order_List0").css("display") == "none" && $("#Order_List1").css("display") == "none" && $("#Order_List2").css("display") == "none") {
                history.back();
            }
            if ($("#Order_List0").css("display") != "none") {
                $("#Order_List0").hide();
            }
            if ($("#Order_List1").css("display") != "none") {
                $("#Order_List1").hide();
            }
            if ($("#Order_List2").css("display") != "none") {
                $("#Order_List2").hide();
            }

        });
        //粉丝
        $(".fensi").on("click", function() {
            $("#Order_List0").show();
            getFensi();
        });
        //已发放
        $(".yifafang").on("click", function() {
            $("#Order_List2 .Order_list_ul2").html("");
            $("#Order_List2").show();
            send_page = [1, 1, 1];
            index = $(this).attr("data-index");
            sendLists(index, 1);
        });
        //未发放
        $(".weifafang").on("click", function() {
            $("#Order_List2 .Order_list_ul2").html("");
            $("#Order_List2").show();
            send_page = [1, 1, 1];
            index = $(this).attr("data-index");
            sendLists(index, 2);
        });
        //佣金订单
        $(".yongjin").on("click", function() {
            $("#Order_List2 .Order_list_ul2").html("");
            $("#Order_List2").show();
            send_page = [1, 1, 1];
            index = $(this).attr("data-index");
            sendLists(2, 0);
        });
        //佣金商品
        $(".order").on("click", function() {
            $("#Order_List1").show();
            getProductLists();
        });

        //粉丝上滑加载更多
        $("#Order_List0 .order_content").scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $("#Order_List0 .order_content .Order_list_ul1").height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight == scrollHeight + 50) {
                getFensi();
            }
        });

        //佣金商品上滑加载更多
        $("#Order_List1 .order_content").scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $("#Order_List1 .order_content .Order_list_ul1").height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight == scrollHeight + 50) {
                getProductLists();
            }
        });
        //已发放，未发放，佣金订单上滑加载更多
        $("#Order_List2 .order_content").scroll(function() {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $("#Order_List2 .order_content .Order_list_ul1").height();
            var windowHeight = $(this).height();

            if (scrollTop + windowHeight == scrollHeight + 50) {
                if (index == 0) {
                    sendLists(index, 1);
                } else if (index == 1) {
                    sendLists(index, 2);
                } else if (index == 2) {
                    sendLists(index, 0);
                }
            }
        });

    });
    </script>
</body>

</html>